@media screen and (max-width: 730px) {
    .nav-bar {
        justify-content: space-between;
        padding: 5px 15px 0px 15px;
    }

    .nav-bar .logo a {
        margin-top: 10px;
        margin-right: 150px;
    }

    .nav-list, .btns-header {
        display: none;
    }

    .menu-burguer {
        display: block;
    }

    

}